<table id="t12">
  <caption>A table to show file size reports</caption>
  <thead>
    <tr>
      <th>Number of Documents</th>
      <th>Document type</th>
      <th>Weights of document</th>
    </tr>
  </thead>
  <tbody>
  <% @table_rows.each do |doc_type,(doc_size,doc_weight)| %>
  <tr>
    <td><%= doc_size %></td>
    <td><%= doc_type %></td>
    <td><%= doc_weight %></td>
  </tr>
<%end%>
<tr> <td  colspan ="3"> Total : <%= @total_gravity %></td> </tr>
<tr> <td  colspan ="3"> Added gravity : <%= @added_gravity %> </td> </tr>
</tbody>
</table>
