<table id="t12">
  <caption> <b>File Weight Reports</b></caption>
  <thead>
    <tr>
      <th>Number of Documents</th>
      <th>Document type</th>
      <th>Weights of document</th>
    </tr>
  </thead>
  <tbody>
  <% @table_rows.each do |doc_type,(doc_size,doc_weight)| %>
  <tr>
    <td><%= doc_size %></td>
    <td><%= doc_type %></td>
    <td><%= doc_weight %></td>
  </tr>
<%end%>
<tr> <td  colspan ="3"> <center> <b>Total : <%= @total_gravity %> </b></center> </td> </tr>
<tr> <td  colspan ="3"> <center> <b>Added gravity : <%= @added_gravity %> </b></center> </td> </tr>
</tbody>
</table> <br>
<p> <b> Go to </b> <a href="/"> Home page </a> </p>
